header {
    padding-bottom: 2em;
    text-align: center;

    h1 {
        font-family: "Inconsolata";
        font-size: 4.2em;
        padding-top: 1.5em;
    }

    nav {
        li {
            display: inline;
            padding: 0 1.5em;
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

p {
    padding: 2em;
}